@model PassionProject.Models.OwnerDto
@{
    ViewData["Title"] = "Owner Details";
}

<div class="container">
    <h1>Owner Details</h1>

    <div class="card-body">
        <div class="model-row">
            <strong>Owner ID:</strong> <span class="model-value">@Model.OwnerId</span>
        </div>
        <div class="model-row">
            <strong>First Name:</strong> <span class="model-value">@Model.FirstName</span>
        </div>
        <div class="model-row">
            <strong>Last Name:</strong> <span class="model-value">@Model.LastName</span>
        </div>
        <div class="model-row">
            <strong>Contact:</strong> <span class="model-value">@Model.Contact</span>
        </div>

        <div class="mt-3 button-container">
            <a asp-action="Edit" asp-route-id="@Model.OwnerId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

